*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
    
}
body{
    background-color: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding:40px 35px ;
    text-align: center;
    border-radius: 20px;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline:0 ;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
     border: 0;
    outline:0 ;
    background: #ebfffc;
    border-radius: 50%;
    width: 60%;
    height: 60px;
    cursor: pointer;

}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width:40px ;
    margin-right: 10px;
}
.humidity,.wind{
font-size: 28px;
margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 1px;
    font-size: 14px;
    margin-top: 10px;
    display: none;


}
.text span{
   color: rgb(199, 12, 12);
  
   
}
.text {
    color: rgb(211, 29, 141);
    margin-bottom: 20px;
    font-size: 20px;
   overflow: hidden;
   border-right: .15em solid orange;
   white-space: nowrap;
   /* margin: 0 auto; */
   letter-spacing: .15em;
   animation: 
   typing 2.5s steps(40,end),
   blink-caret .75s step-end infinite;
}
@keyframes typing {
    from {width: 0}
    to{width: 100%}
}
@keyframes blink-caret {
    from,to{border-color: transparent;}
    50% {border-color: orange;}
}